
.profile-wrapper {

    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .left {
        h2 {
            font-size: 6em;
        }
    }

    .right {
        padding-top: 1em;

        .profile-menu {
            background: rgba($color: $brown-dark, $alpha: .6);
            width: 100%;
            display:flex;
            align-items: center;
            justify-content: center;

            li {
                flex: 1;
                border: 1px solid $green-light;
                height: 2.2em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $light-primary;
                cursor: pointer;
                transition: background .4s ease;
            }
        }

        .sub-menu {
            background: rgba($color: $brown-dark, $alpha: .6);
            margin-left: auto;
            display:flex;
            align-items: center;
            justify-content: center;

            li {
                flex: 1;
                border: 1px solid $green-light;
                height: 1.8em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $light-primary;
                cursor: pointer;
                transition: background .4s ease;
            }
        }

        .profile-container {
            position: relative;

            .address-container {
                display: none;
                
                #add-address {
                    margin-top: 2em;
                }
            }

            .purchases-container {
                display: none;

                .inner-purchases-container {
                    
                    .pending-container {
                        display: none;
                    }

                    .completed-container {
                        display: none;
                    }
                }
            }
        }
    }
    
    .address-list {
        li {
            padding: .4em;
            border: 1px solid $green-primary;
            width: 90vw;
            font-size: .9em;

            .delete {
                display: block;
                color: red;
            }

            table {
                width: 86vw;

                thead {
                    background: $brown-primary;
                    color: $light-primary;
                }

                tr {
                    background: rgba($color: $green-secondary, $alpha: .4);
                    
                    td {
                        padding: .4em;
                    }
                }

                tr:nth-child(odd) {
                    background: rgba($color: $green-primary, $alpha: .4);
                }
            }

            .button-container {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: .6em;

                .button {
                    width: 35%;
                    background: $green-primary;
                    border: 1px solid $brown-primary;
                    color: $light-primary;
                    border-radius: 10px;
                    padding: .25em;
                    text-align: center;
                }

                .button-cancel {
                    width: 35%;
                    background: red;
                    border: 1px solid $green-primary;
                    color: $light-primary;
                    border-radius: 10px;
                    padding: .25em;
                    text-align: center;
                }
            }

            .purchase-completed {
                text-transform: uppercase;
                color: $green-secondary;
                text-align: center;
                font-size: 1.8em;
            }
        }
    }

    .active {
        background: $brown-dark;
    }

    .cont-active {
        display: block !important;
    }


    @media only screen and (min-device-width:768px) {
        .left {
            width: 30vw;
            padding: 2em;
            text-align: right;
        }

        .right {
            width: 60vw;
            padding-top: 2em;

            .sub-menu {
                width: 50%;
            }
        }
        
        .address-list {
            li {
                padding: 2em;
                width: auto;
                font-size: 1em;

                .delete {
                    display: inline;
                    float: right;
                    color: red;
                }

                table {
                    width: 100%;
                }
            }
        }
    }
}

.form-container {
    
    pointer-events: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

    &.active {
        pointer-events: all;
        opacity: 1;
    }

    .form-overlay {
        position: absolute;
        background: rgba($color: #000000, $alpha: .4);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .address-form {
        width: 90vw;
        height: 60vh;
        background: $brown-dark;
        color: $light-primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        form {
            label {
                display: block;
            }
            input[type='submit'] {
                display: block;
                margin-top: 1em;
            }
        }
    }

    @media only screen and (min-device-width:768px) {
        .address-form {
            width: 360px;
            height: 400px;
        }
    }
}