

.payment-wrapper {

    width: 90%;
    margin: auto;
    padding: 2em 0; 
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.1em;
        text-align: left;
        flex: 1;

        a {
            cursor: pointer;
            text-decoration: underline;
            color: $green-primary;
            transition: text-shadow .4s ease-in-out;

            &:hover {
                text-shadow: 1px 1px 4px $brown-primary;
            }
        }
    }

    img {
        display:none;
    }

    form {
        margin: auto;
        padding: 2em;
        border-radius: 10px;
        background: $brown-dark;
        box-shadow: 1px 2px 24px 6px $green-primary;
        color: $light-primary;

        .field {
            font-size: 16px;
            color:#666;
            width:200px;
            height:26px;
            margin-bottom:10px;
            padding:6px 12px;
            border:0;
            background:#efefef;
            color:#666;
            border-radius:4px;
        }
    }

    @media only screen and (min-device-width:768px) {

        p {
            font-size: 1.4em;
            text-align: center;
        }
    
        img {
            display:block;
            width: 25%;
        }

        form {
            .field {
                width:300px;
            }
        }
    }
}