// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'CreamCake';
    src: url('../fonts/cream-cake.ttf') format("truetype");
};

@font-face {
    font-family: 'OliverBlush';
    src: url('../fonts/oliver-brush.ttf') format("truetype");
};

@font-face {
    font-family: 'Itim';
    src: url('../fonts/itim.ttf') format("truetype");
};