
.contact-wrapper{

    width: auto;
    margin-top: 5vh;
    padding: 5vh 5vw;
    background: url('../img/abstract-bg.svg');
    background-size: cover;
    height: auto;
    font-size: 1em;
    color: $light-primary;

    table {
        td {
            padding-right: 1.4em;
        }

        input, textarea {
            width: 55vw;
        }

        input[type='submit'] {
            color: $light-primary;
            background: $brown-dark;
        }
    }

    @media only screen and (min-device-width:768px) {
        width: auto;
        margin: 5vh 5vw;
        padding: 0;
        height: 80vh;
        font-size: 1.1em;
        
        .contact-form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .text {
            text-align:center;
            max-width: 400px;
        }

        table {
            margin: 0 auto;
            padding: 2em;
            border-spacing: 2;

            input, textarea {
                width: auto;
            }
        }
    }
}