

.payment-wrapper {

    @media only screen and (min-device-width:768px) {
        width: 50%;
        background: lightgreen;
        padding: 2em 0; 
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            background: lightsalmon;
            margin: auto;

            .field {
                font-size: 16px;
                color:#666;
                width:300px;
                height:26px;
                margin-bottom:10px;
                padding:6px 12px;
                border:0;
                background:#efefef;
                color:#666;
                border-radius:4px;
            }
        }
    }
}