
.detail-wrapper {
    margin: 3vh 5vw;

    img {
        float: left;
        width: 40%;
        margin: 0 5%;
    }

    h4 {
        margin-top: .7em;
        margin-bottom: 1.4em;
    }

    .price {
        font-size: 1.4em;
        margin-bottom: .7em;
    }
    
    .desc {
        margin-top: .7em;
    }

    p {
        margin-top: .7em;
    }
}