// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
}


h1 {
  font-family: $font-title;
  font-size: 4em;
  padding: 0 .12em;
  background: $orange-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

h2 {
  font-family: $font-title;
  font-size: 3em;
  color: $orange-primary;
  text-shadow: 1px 1px 0 $green-primary;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type='text'], input[type='password'], input[type='email'], textarea {
  max-width: 100%;
  padding: .2em .6em;
  outline: none;
}

ul {
  list-style-type: none;
}

.errorlist {
  color: red;
}