// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
    display: block;
    border: 1px solid $green-light;
    background-color: $brown-dark;
    color: $light-primary;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

input[type='submit'], button {
    background: $green-primary;
    color: $light-primary;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: .4em .8em;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    cursor: pointer;
  
    &:hover {
        transform: translate(0, -.2em);
        box-shadow: 0 0 10px 2px $light-primary;
    }

    @media only screen and (min-device-width:768px) {
        font-size: 1em;
    }
  }